<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace">

  <targets>
    <target 
        xsi:type="Database"
        name="database"
        dbProvider="Npgsql.NpgsqlConnection, Npgsql"
        connectionString="User ID=postgres;Password=P@ssw0rd;Host=localhost;Port=5432;Database=dotnet_db;SearchPath=idsrv4,logging;Pooling=true;"
        commandText="INSERT INTO log_request(status,path,time,process) VALUES (@status,@path, CAST(@time AS timestamp),CAST(@process AS numeric))"
    >
      <parameter name="@status" layout="${event-properties:status}" />
      <parameter name="@path" layout="${event-properties:path}" />
      <parameter name="@time" layout="${event-properties:time}" />
      <parameter name="@process" layout="${event-properties:process}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>